---
const { title = '', description = '', image = '', url = '', site = '' } = Astro.props;
---

<figure class="link-card">
  <a class="link-card__link" href={url} target="_blank" rel="noopener noreferrer">
    {image && (
      <div class="link-card__img-wrapper">
        <img class="link-card__img" src={image} alt={title} loading="lazy" />
      </div>
    )}

    <div class="link-card__body">
      <h4 class="link-card__title">{title || url}</h4>
      {description && <p class="link-card__desc">{description}</p>}
      <div class="link-card__meta">{site}</div>
    </div>
  </a>
</figure>
