---
import "../styles/global.css";
import { getCollection } from "astro:content";
// 导入新提取的 Head 组件
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FAB from "../components/FAB.tsx";

const site = "Greenhouse between Clouds";
let {
  pageTitle = site,
  description = "这是一个使用Astro构建的用来放各种乱七八糟东西的网站",
  ogImage = "/og-default.jpg",
  canonicalUrl = Astro.url.href,
} = Astro.props;

if (pageTitle !== site) {
  pageTitle += ` | ${site}`;
}

const items = (await getCollection("posts")).map((post) => ({
  title: post.data.title,
  url: `/posts/${post.id}/`,
  depth: post.data.url?.split("/").length - 1 || 0,
}));
---

<html lang="zh-CN">
  <Head
    pageTitle={pageTitle}
    description={description}
    ogImage={ogImage}
    canonicalUrl={canonicalUrl}
  />

  <body>
    <Header pageTitle={pageTitle} />
    <!-- <Sidebar items={items}/> -->
    <main
      style="
        max-width: 1200px; 
        margin: 0 auto; 
        padding: 1rem;
      "
    >
      <slot />
    </main>

    <Footer />
    <FAB client:only />
  </body>
</html>